
.wrapper{
    margin-bottom: 20px;
}
.userKeyBox1, .userKeyWithObj{
    background: silver;
    margin: 10px;
    padding-left: 20px;
}
.userKeyBox2, .userKeyWithObj2{
    padding-left: 20px;
}
.userKeyBox3{
    padding-left: 20px;
}
.btnPost{
    background: #7ede20;
    width: 90%;
    margin-left: 5%;
    border-radius: 3px;
    font-weight: bold;
    border: none;
}
.titleBoxes{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.titleBox{
    width: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: gainsboro;
    margin-top: 10px;
    justify-content: space-between;
    padding-bottom: 10px;

}
.postInfo{
    background: #26c5e8;
    border-radius: 3px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.postTitle{
    padding: 0 5px;
}